.main {
    margin-top: -50px;
  }
  
  .section {
    margin-top: 5rem;
  }
  
  .image {
    /* height: 600px;
    width: 400px; */
    margin-top: 80px;
    margin-left: -130px;
  }
  
  .formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .formPaper {
    padding: 16px;
    width: 100%;
    
  }
  
  .formTitle {
    text-align: center;
    font-weight: bold;
    color: #333; 
    margin-bottom: 30px;
    margin-top: 130px;
  }
  
  .formIcon {
    color: #F08000;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .submitButton {
    margin-top: 20px;
    background-color: #F08000;
  }
  
  .submitButton:hover{
    background-color:#F08000;
  
  }
  